<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../style/page_cpp.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>ReCode: C++</title>
</head>
<body>
    <nav>
        <h1 class="nav-wrapper">C++ Codes</h1>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <p class="white-text">
                    This page is where all my C++ projects will stay. Most of the projects are 
                    university assignments. By pressing on the picture or the title, it will take you
                    to my GitHub repository, where you can find all the codes!
                </p>
            </div>

            <div class="col s12 m4">
                <div class="card grey darken-4">
                    <div class="card-image">
                        <a target="_blank" href="https://github.com/RitchieP/CPT111assignment2">
                            <img src="../image/cpp_restaurant_system.png" alt="Code Image">
                        </a>
                    </div>
                    <div class="card-content white-text">
                        <a target="_blank" href="https://github.com/RitchieP/CPT111assignment2">
                            <span class="card-title">Restaurant Menu and Ordering System</span>
                        </a>
                        <p>
                            Project for my University assignment. It is about a simple restaurant menu and ordering system.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card grey darken-4">
                    <div class="card-image">
                        <a target="_blank" href="https://github.com/RitchieP/Squares_and_Brackets">
                            <img src="../image/cpp_restaurant_system.png" alt="Code Image">
                        </a>
                    </div>
                    <div class="card-content white-text">
                        <a target="_blank" href="https://github.com/RitchieP/Squares_and_Brackets">
                            <span class="card-title">Squares and Brackets</span>
                        </a>
                        <p>
                            This is a project built based off of Snakes and Ladders game. It is an assignment to my University course CPT113.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card grey darken-4">
                    <div class="card-image">
                        <a target="_blank" href="https://github.com/RitchieP/cpt113Assignment1">
                            <img src="../image/cpp_employee_salary.png" alt="Code Image">
                        </a>
                    </div>
                    <div class="card-content white-text">
                        <a target="_blank" href="https://github.com/RitchieP/cpt113Assignment1">
                            <span class="card-title">Employee Salary</span>
                        </a>
                        <p>
                            This is a project for my university assignment. Mainly focus on using 
                            object oriented programming to keep track of employee's salary.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
 
</body>
</html>